.header {
  border-bottom: solid 2px black;
  padding: 16px;
}
.header .logo {
  margin: 0;
}
.header .options {
  text-align: center;
}

.header .pet-choosen {
  margin-right: 8px;
}

/* Larger than tablet */
@media (min-width: 550px) {
  .header {
    display: flex;
  }
  .header .logo {
    margin-right: 8px;
    max-width: 240px;
    height: 30px;
  }
  .header .options {
    flex-grow: 1;
    align-self: center;
    text-align: right;
  }
}
